
<div class="row g-0 text-center">
  <div class="col-sm-4 col-md-4"></div>
  
<div class="col-sm-4 col-md-4">


<div class="edit card">
  <div class="card-header">
    <h2>Login!</h2>
  </div>
        <form id="login-form" class="card-body text-right">
            
                <label for="email-login" class="text-right">Email:</label>
                <input type="text" id="email-login" />
           <br>
                <label for="password-login" class="form-label text-right">Password:</label>
                <input type="password" id="password-login" />
     <br>
        <button type="submit" id="login-btn "class="btn btn-primary">Login!</button>
        <a href="/signup"><button type="button"  class="btn btn-primary">Sign up!</button></a>
      
         </form>
      </div>
    </div>

  <div class="col-4 col-md-4"></div>
</div>
  <script src="/js/login.js"></script>