<div class="row g-0 text-center">
  <div class="col-sm-4 col-md-4"></div>
  
<div class="col-sm-4 col-md-4">

<div class="edit card">
  <div class="card-header">
    <h2>Sign Up!</h2>
  </div>
        <form id="signup-form" class="card-body">
          
                <label for="email-signup">Email:</label>    
                <input type="text" id="email-signup" />
            <br>
                <label for="password-signup" class="form-label">Password:</label>
                <input type="password" id="password-signup" />
           <br>
    
        <button type="submit" id="login-btn "class="btn btn-primary">Sign Up</button>
        <a href="/login"><button type="button"  class="btn btn-primary">Login</button></a>

       
         </form>
      </div>
    </div>
<div class="col-4 col-md-4"></div>
</div>
 <script src="/js/signup.js"></script>